asgiref==3.9.2
distlib==0.4.0
Django==5.2.6
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
filelock==3.19.1
platformdirs==4.4.0
PyJWT==2.10.1
python-dotenv==1.2.1
sqlparse==0.5.3
tzdata==2025.2
virtualenv==20.34.0
